// Color palette.
$crane-red: #a80105;
$raisin-black: #171621;
$ash-gray: #b9bbb3;
$slate-gray: #73889d;
$cadet-gray: #8b9cab;

.crane-red {
  color: $crane-red;
}

.bg-crane-red {
  background-color: $crane-red;
}

.raisin-black {
  color: $raisin-black;
}

.bg-raisin-black {
  background-color: $raisin-black;
}

.ash-gray {
  color: $ash-gray;
}

.bg-ash-gray {
  background-color: $ash-gray;
}

.slate-gray {
  color: $slate-gray;
}

.bg-slate-gray {
  background-color: $slate-gray;
}

.cadet-gray {
  color: $cadet-gray;
}

.bg-cadet-gray {
  background-color: $cadet-gray;
}

.commissioner {
  font-family: "Commissioner", sans-serif;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.jet-brains-mono {
  font-family: "JetBrains Mono", monospace;
}

.divider {
  max-width: 32rem;
  border: none;
  border-top: medium double $crane-red;
  text-align: center;

  &:after {
    content: "} {";
    display: inline-block;
    position: relative;
    top: -1.05rem;
    padding: 0.25rem;
    font-family: "JetBrains Mono", monospace;
    color: $crane-red;
    background-color: #f4f4f4;
  }
}

.markdown {
  a {
    @extend .slate-gray;
  }

  hr {
    @extend .divider;
  }

  table {
    $border-width: 2px;

    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;

    & tr {
      border-top: $border-width solid $raisin-black;
    }

    & th {
      padding: 6px 13px;
      border: $border-width solid $raisin-black;
      font-weight: 600;
    }

    & td {
      padding: 6px 13px;
      border: $border-width solid $raisin-black;
    }
  }
}

//
// Syntax theme overrides.
//

.z-code {
  $border-width: 2px;

  max-width: 30em;

  padding: 1rem 2rem;

  background-color: initial;

  border-left: $border-width solid;
  border-bottom: $border-width solid;
  border-color: $crane-red;
}

.z-source {
  @extend .jet-brains-mono;
  @extend .raisin-black;
}

.z-comment {
  font-style: normal;
}
